body{
    background-color: #4d6d9a;
     height: 50em;
  display: flex;
  align-items: center;
  justify-content: center ;

}
.MainDiv{
    background-color: #99ced3;
    padding: 20px;
    text-align: center;
border-radius: 15%;
}

.ii {
    display: flex;
    padding: 20px;
}

.link{
    padding: 16px;
}